<div class="k-block">
  <app-title label="Datos" [data]=true></app-title>

  <div class="content">

    <div class="panel-loading" *ngIf="tableDetails && tableDetails.length == 0">
      <img src="../../assets/images/big-loading.gif" alt="">
      <div>Loading info...</div>
    </div>

    <kendo-grid *ngIf="tableDetails && tableDetails.length > 0" [data]="tableDetails[0].columns" [height]="410">
      <kendo-grid-column *ngFor="let column of tableDetails[0].columns" field="id" [title]="column.header" width="40">
      </kendo-grid-column>
      <kendo-grid-column title="Acciones" width="20">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoButton icon="pencil"></button>
            <button kendoButton icon="trash"></button>
          </ng-template>
      </kendo-grid-column>
    </kendo-grid>

  </div>
</div>
