<div class="k-block">
  <app-title label="Configuración"></app-title>
  <kendo-dropdownlist [data]="tables"
    textField="name"
    valueField="id"
    [(ngModel)]="selectedTable"
    (valueChange)="setSelectedTable($event)">
  </kendo-dropdownlist>
</div>
