<div class="container">
  <div class="configuration-content">

    <div class="k-block">
      <app-title label="Configuración"></app-title>
      <kendo-dropdownlist [data]="tables"
        textField="name"
        valueField="id"
        [(ngModel)]="selectedTable"
        (valueChange)="changeSelectedTable($event)">
      </kendo-dropdownlist>
    </div>

  </div>
  <app-content-data [tableDetails]="tableDetails"></app-content-data>
</div>
