@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,800&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

.k-dropdown, .k-dropdowntree{
  width: 100%;
}


.configuration-content{
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

app-content-data{
  width: 79%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

